<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" href="{{ url_for("static",filename="css/d.jpg") }}">
</head>
<body background={{ url_for("static",filename="pics/d.jpg") }}>
    <div class="main">
		<header>
			<div class="header">
				<a href="{{ dp }}" target="_blank"><img src="{{ dp }}" alt="" height="100px" width="100px" align="left"> </a><br><br>
				<p> &nbsp;&nbsp; My BioData </p>
			</div>
		</header>
		<main align="left">
			<br><br>
			<b class="leftchat">Name &nbsp;&nbsp;&nbsp;&nbsp; <sub class="lefttime">22.46</sub></b> <br><br> <i> <span class="rightchat">{{jsonstr['username']}}<span class="time"> &nbsp&nbsp;&nbsp;&nbsp;<sub>22.46</sub> <img class="ticks" src="{{ ticks }}" width="40px" height="20px"> </span></span> </i> 
			<br><br><br><br><br>
			
			<b class="leftchat">Father's Name &nbsp;&nbsp;&nbsp;&nbsp;<sub class="lefttime">22.46</sub></b> <br><br> <span class="rightchat">{{jsonstr['fathername']}} <span class="time"> &nbsp&nbsp;&nbsp;&nbsp;<sub>22.46</sub> <img class="ticks" src="{{ ticks }}" width="40px" height="20px"> </span></span> <br><br><br><br>
            
			<b class="leftchat">Mother's Name &nbsp;&nbsp;&nbsp;&nbsp; <sub class="lefttime">22.46</sub></b> <br><br> <span class="rightchat">{{jsonstr['mothername']}} <span class="time"> &nbsp&nbsp;&nbsp;&nbsp;<sub>22.46</sub> <img class="ticks" src="{{ ticks }}" width="40px" height="20px"></span></span>
			<br><br><br><br>
            
			<b class="leftchat"> Date Of Birth &nbsp;&nbsp;&nbsp;&nbsp; <sub class="lefttime">22.46</sub></b> <br><br> <span class="rightchat">{{jsonstr['dob']}}<span class="time"> &nbsp&nbsp;&nbsp;&nbsp;<sub>22.46</sub> <img class="ticks" src="{{ ticks }}" width="40px" height="20px"> </span></span>
			<br><br><br><br>
            
			<b class="leftchat">Height &nbsp;&nbsp;&nbsp;&nbsp; <sub class="lefttime">22.46</sub></b> <br><br> <span class="rightchat"> {{jsonstr['height']}} <span class="time"> &nbsp&nbsp;&nbsp;&nbsp;<sub>22.46</sub> <img class="ticks" src="{{ ticks }}" width="40px" height="20px"> </span></span>
			<br><br><br><br>
            
			<b class="leftchat">Qualification &nbsp;&nbsp;&nbsp;&nbsp; <sub class="lefttime">22.46</sub></b> <br><br> <span class="rightchat"> {{jsonstr['qualification']}}
			<span class="time"> &nbsp&nbsp;&nbsp;&nbsp;<sub>22.46</sub> <img class="ticks" src="{{ ticks }}" width="40px" height="20px"> </span>
			</span>
			<br><br><br><br>
		
			<!--
			
			<b class="leftchat"> Siblings &nbsp;&nbsp;&nbsp;&nbsp; <sub class="lefttime">22.46</sub></b> <br><br> <span class="rightchat"> Elder Brother: Pranav Kola <span class="time"> &nbsp&nbsp;&nbsp;&nbsp;<sub>22.46</sub> <img class="ticks" src="ticks.png" width="40px" height="20px"> </span></span>
			<br><br><br><br>
			
			-->
            
			<b class="leftchat">Email &nbsp;&nbsp;&nbsp;&nbsp; <sub class="lefttime">22.46</sub></b> <br><br> <span class="rightchat"><a href="mailto:{{jsonstr['email']}}">{{jsonstr['email']}}</a> 
			<span class="time"> &nbsp&nbsp;&nbsp;&nbsp;<sub>22.46</sub> <img class="ticks" src="{{ ticks }}" width="40px" height="20px"> </span>
			</span>
			<br><br><br><br>
			
			<b class="leftchat"> Address &nbsp;&nbsp;&nbsp;&nbsp; <sub class="lefttime">22.46</sub></b> 
			<br><br>
			<span class="rightchat">
				{{jsonstr['address']}}
				<span class="time"> &nbsp;&nbsp;&nbsp;&nbsp;<sub>22.46</sub> <img class="ticks" src="{{ ticks }}" width="40px" height="20px">
				</span>
			</span>
		</main>
	</div>
</body>
</html>